In [19]:
import pandas as pd
import numpy as np

In [182]:
df = pd.read_csv("Advertising.csv",index_col=0)

In [183]:
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [184]:
#missing data
df.isna()

        TV  Radio  Newspaper  Sales
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
5    False  False      False  False
6    False  False      False  False
7    False  False      False  False
8    False  False      False  False
9    False  False      False  False
10   False  False      False  False
11   False  False      False  False
12   False  False      False  False
13   False  False      False  False
14   False  False      False  False
15   False  False      False  False
16   False  False      False  False
17   False  False      False  False
18   False  False      False  False
19   False  False      False  False
20   False  False      False  False
21   False  False      False  False
22   False  False      False  False
23   False  False      False  False
24   False  False      False  False
25   False  False      False  False
26   False  False      False  False
27   False  False      False  False
28   False  False      False  False
29   False  False      False  False
30   False  False      False  False
..     ...    ...        ...    ...
171  False  False      False  False
172  False  False      False  False
173  False  False      False  False
174  False  False      False  False
175  False  False      False  False
176  False  False      False  False
177  False  False      False  False
178  False  False      False  False
179  False  False      False  False
180  False  False      False  False
181  False  False      False  False
182  False  False      False  False
183  False  False      False  False
184  False  False      False  False
185  False  False      False  False
186  False  False      False  False
187  False  False      False  False
188  False  False      False  False
189  False  False      False  False
190  False  False      False  False
191  False  False      False  False
192  False  False      False  False
193  False  False      False  False
194  False  False      False  False
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False
200  False  False      False  False

[200 rows x 4 columns]

In [185]:
#categorize
conditions = [(df["Sales"] >= 15),
             (df["Sales"] < 15) & (df["Sales"] >= 5),
             (df["Sales"] < 5)]
values = ["High", "Medium", "Low"]
sale_type = pd.DataFrame({"Sales Type":np.select(conditions,values)})

In [186]:
sale_type.head()

  Sales Type
0       High
1     Medium
2     Medium
3       High
4     Medium

In [187]:
#Concatenation
df["Sales Type"] = np.select(conditions,values)

In [188]:
df.head()

      TV  Radio  Newspaper  Sales Sales Type
1  230.1   37.8       69.2   22.1       High
2   44.5   39.3       45.1   10.4     Medium
3   17.2   45.9       69.3    9.3     Medium
4  151.5   41.3       58.5   18.5       High
5  180.8   10.8       58.4   12.9     Medium

In [189]:
#Groupby
df.groupby('Sales Type').agg(['sum',"mean"])

                 TV               Radio            Newspaper             \
                sum        mean     sum       mean       sum       mean
Sales Type
High        16469.8  213.893506  2594.1  33.689610    2720.6  35.332468
Low            13.4    4.466667    53.3  17.766667      15.4   5.133333
Medium      12925.3  107.710833  2005.4  16.711667    3374.8  28.123333

             Sales
               sum       mean
Sales Type
High        1500.8  19.490909
Low            9.6   3.200000
Medium      1294.1  10.784167

In [190]:
#data modeling

In [191]:
df.shape[0]

200

In [192]:
df.head()

      TV  Radio  Newspaper  Sales Sales Type
1  230.1   37.8       69.2   22.1       High
2   44.5   39.3       45.1   10.4     Medium
3   17.2   45.9       69.3    9.3     Medium
4  151.5   41.3       58.5   18.5       High
5  180.8   10.8       58.4   12.9     Medium

In [193]:
#creating nan values
for i in range(6,df.shape[0]+1,6):
    df["TV"][i] = None
for i in range(10,df.shape[0]+1,10):
    df["Newspaper"][i] = None

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [194]:
#printing rows without NaN value
df[np.all(df.notnull(), axis = 1)]

        TV  Radio  Newspaper  Sales Sales Type
1    230.1   37.8       69.2   22.1       High
2     44.5   39.3       45.1   10.4     Medium
3     17.2   45.9       69.3    9.3     Medium
4    151.5   41.3       58.5   18.5       High
5    180.8   10.8       58.4   12.9     Medium
7     57.5   32.8       23.5   11.8     Medium
8    120.2   19.6       11.6   13.2     Medium
9      8.6    2.1        1.0    4.8        Low
11    66.1    5.8       24.2    8.6     Medium
13    23.8   35.1       65.9    9.2     Medium
14    97.5    7.6        7.2    9.7     Medium
15   204.1   32.9       46.0   19.0       High
16   195.4   47.7       52.9   22.4       High
17    67.8   36.6      114.0   12.5     Medium
19    69.2   20.5       18.3   11.3     Medium
21   218.4   27.7       53.4   18.0       High
22   237.4    5.1       23.5   12.5     Medium
23    13.2   15.9       49.6    5.6     Medium
25    62.3   12.6       18.3    9.7     Medium
26   262.9    3.5       19.5   12.0     Medium
27   142.9   29.3       12.6   15.0       High
28   240.1   16.7       22.9   15.9       High
29   248.8   27.1       22.9   18.9       High
31   292.9   28.3       43.2   21.4       High
32   112.9   17.4       38.6   11.9     Medium
33    97.2    1.5       30.0    9.6     Medium
34   265.6   20.0        0.3   17.4       High
35    95.7    1.4        7.4    9.5     Medium
37   266.9   43.8        5.0   25.4       High
38    74.7   49.4       45.7   14.7     Medium
..     ...    ...        ...    ...        ...
161  172.5   18.1       30.7   14.4     Medium
163  188.4   18.1       25.6   14.9     Medium
164  163.5   36.8        7.4   18.0       High
165  117.2   14.7        5.4   11.9     Medium
166  234.5    3.4       84.8   11.9     Medium
167   17.9   37.6       21.6    8.0     Medium
169  215.4   23.6       57.6   17.1       High
171   50.0   11.6       18.4    8.4     Medium
172  164.5   20.9       47.4   14.5     Medium
173   19.6   20.1       17.0    7.6     Medium
175  222.4    3.4       13.1   11.5     Medium
176  276.9   48.9       41.8   27.0       High
177  248.4   30.2       20.3   20.2       High
178  170.2    7.8       35.2   11.7     Medium
179  276.7    2.3       23.7   11.8     Medium
181  156.6    2.6        8.3   10.5     Medium
182  218.5    5.4       27.4   12.2     Medium
183   56.2    5.7       29.7    8.7     Medium
184  287.6   43.0       71.8   26.2       High
185  253.8   21.3       30.0   17.6       High
187  139.5    2.1       26.6   10.3     Medium
188  191.1   28.7       18.2   17.3       High
189  286.0   13.9        3.7   15.9       High
191   39.5   41.1        5.8   10.8     Medium
193   17.2    4.1       31.6    5.9     Medium
194  166.8   42.0        3.6   19.6       High
195  149.7   35.6        6.0   17.3       High
196   38.2    3.7       13.8    7.6     Medium
197   94.2    4.9        8.1    9.7     Medium
199  283.6   42.0       66.2   25.5       High

[153 rows x 5 columns]

In [195]:
#Filling Nan values with 0
df["TV"].fillna(0, inplace = True)

In [196]:
df.head(10)

       TV  Radio  Newspaper  Sales Sales Type
1   230.1   37.8       69.2   22.1       High
2    44.5   39.3       45.1   10.4     Medium
3    17.2   45.9       69.3    9.3     Medium
4   151.5   41.3       58.5   18.5       High
5   180.8   10.8       58.4   12.9     Medium
6     0.0   48.9       75.0    7.2     Medium
7    57.5   32.8       23.5   11.8     Medium
8   120.2   19.6       11.6   13.2     Medium
9     8.6    2.1        1.0    4.8        Low
10  199.8    2.6        NaN   10.6     Medium

In [197]:
#Filling Nan values with average of just above and just below value
df["Newspaper"].interpolate(inplace = True)

In [198]:
df.head(12)

       TV  Radio  Newspaper  Sales Sales Type
1   230.1   37.8       69.2   22.1       High
2    44.5   39.3       45.1   10.4     Medium
3    17.2   45.9       69.3    9.3     Medium
4   151.5   41.3       58.5   18.5       High
5   180.8   10.8       58.4   12.9     Medium
6     0.0   48.9       75.0    7.2     Medium
7    57.5   32.8       23.5   11.8     Medium
8   120.2   19.6       11.6   13.2     Medium
9     8.6    2.1        1.0    4.8        Low
10  199.8    2.6       12.6   10.6     Medium
11   66.1    5.8       24.2    8.6     Medium
12    0.0   24.0        4.0   17.4       High

In [199]:
#creating NaN again
for i in range(10,df.shape[0]+1,10):
    df["Newspaper"][i] = None

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [200]:
#Filling NaN values with mean of the column 
df["Newspaper"].fillna(df["Newspaper"].mean(), inplace = True)

In [201]:
df.head(10)

       TV  Radio  Newspaper  Sales Sales Type
1   230.1   37.8  69.200000   22.1       High
2    44.5   39.3  45.100000   10.4     Medium
3    17.2   45.9  69.300000    9.3     Medium
4   151.5   41.3  58.500000   18.5       High
5   180.8   10.8  58.400000   12.9     Medium
6     0.0   48.9  75.000000    7.2     Medium
7    57.5   32.8  23.500000   11.8     Medium
8   120.2   19.6  11.600000   13.2     Medium
9     8.6    2.1   1.000000    4.8        Low
10  199.8    2.6  31.222778   10.6     Medium

In [202]:
#Normalization

In [210]:
import sklearn.preprocessing as sp

In [230]:
for i in df.columns[:3]:
    df[i] = sp.minmax_scale( df[i] )

In [231]:
df.columns[:3]

Index(['TV', 'Radio', 'Newspaper'], dtype='object')

In [234]:
#splitting
from sklearn.model_selection import train_test_split

In [235]:
X = df[df.columns[:3]]
y = df["Sales"]

In [247]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.4)

In [241]:
#training
from sklearn.linear_model import LinearRegression

In [249]:
model = LinearRegression()

In [250]:
help(LinearRegression)

Help on class LinearRegression in module sklearn.linear_model.base:

class LinearRegression(LinearModel, sklearn.base.RegressorMixin)
 |  Ordinary least squares Linear Regression.
 |
 |  Parameters
 |  ----------
 |  fit_intercept : boolean, optional, default True
 |      whether to calculate the intercept for this model. If set
 |      to False, no intercept will be used in calculations
 |      (e.g. data is expected to be already centered).
 |
 |  normalize : boolean, optional, default False
 |      This parameter is ignored when ``fit_intercept`` is set to False.
 |      If True, the regressors X will be normalized before regression by
 |      subtracting the mean and dividing by the l2-norm.
 |      If you wish to standardize, please use
 |      :class:`sklearn.preprocessing.StandardScaler` before calling ``fit`` on
 |      an estimator with ``normalize=False``.
 |
 |  copy_X : boolean, optional, default True
 |      If True, X will be copied; else, it may be overwritten.
 |
 |  n_jobs : int, optional, default 1
 |      The number of jobs to use for the computation.
 |      If -1 all CPUs are used. This will only provide speedup for
 |      n_targets > 1 and sufficient large problems.
 |
 |  Attributes
 |  ----------
 |  coef_ : array, shape (n_features, ) or (n_targets, n_features)
 |      Estimated coefficients for the linear regression problem.
 |      If multiple targets are passed during the fit (y 2D), this
 |      is a 2D array of shape (n_targets, n_features), while if only
 |      one target is passed, this is a 1D array of length n_features.
 |
 |  intercept_ : array
 |      Independent term in the linear model.
 |
 |  Notes
 |  -----
 |  From the implementation point of view, this is just plain Ordinary
 |  Least Squares (scipy.linalg.lstsq) wrapped as a predictor object.
 |
 |  Method resolution order:
 |      LinearRegression
 |      LinearModel
 |      abc.NewBase
 |      sklearn.base.BaseEstimator
 |      sklearn.base.RegressorMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None)
 |      Fit linear model.
 |
 |      Parameters
 |      ----------
 |      X : numpy array or sparse matrix of shape [n_samples,n_features]
 |          Training data
 |
 |      y : numpy array of shape [n_samples, n_targets]
 |          Target values. Will be cast to X's dtype if necessary
 |
 |      sample_weight : numpy array of shape [n_samples]
 |          Individual weights for each sample
 |
 |          .. versionadded:: 0.17
 |             parameter *sample_weight* support to LinearRegression.
 |
 |      Returns
 |      -------
 |      self : returns an instance of self.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from LinearModel:
 |
 |  predict(self, X)
 |      Predict using the linear model
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape = (n_samples, n_features)
 |          Samples.
 |
 |      Returns
 |      -------
 |      C : array, shape = (n_samples,)
 |          Returns predicted values.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.RegressorMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Returns the coefficient of determination R^2 of the prediction.
 |
 |      The coefficient R^2 is defined as (1 - u/v), where u is the residual
 |      sum of squares ((y_true - y_pred) ** 2).sum() and v is the total
 |      sum of squares ((y_true - y_true.mean()) ** 2).sum().
 |      The best possible score is 1.0 and it can be negative (because the
 |      model can be arbitrarily worse). A constant model that always
 |      predicts the expected value of y, disregarding the input features,
 |      would get a R^2 score of 0.0.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape = (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like, shape = (n_samples) or (n_samples, n_outputs)
 |          True values for X.
 |
 |      sample_weight : array-like, shape = [n_samples], optional
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          R^2 of self.predict(X) wrt. y.

In [251]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [259]:
y_pred = model.predict(X_test)

In [263]:
model.score(X_test, y_test)

0.6536582448219421

In [269]:
from sklearn.metrics import mean_squared_error, r2_score
print("MSE: ",mean_squared_error(y_test,y_pred))
print("R2_score:  ",r2_score(y_test, y_pred))

MSE:  9.736114858959759
R2_score:   0.5921230378448565

In [271]:
#without changing to null

In [270]:
df1 = pd.read_csv("Advertising.csv",index_col=0)

In [272]:
#normalizing
for i in df1.columns[:3]:
    df1[i] = sp.minmax_scale( df1[i] )
df1.head()

         TV     Radio  Newspaper  Sales
1  0.775786  0.762097   0.605981   22.1
2  0.148123  0.792339   0.394019   10.4
3  0.055800  0.925403   0.606860    9.3
4  0.509976  0.832661   0.511873   18.5
5  0.609063  0.217742   0.510994   12.9

In [273]:
X_train, X_test, y_train, y_test = train_test_split(df1.iloc[:,:3],df1["Sales"], test_size = 0.4)
model1 = LinearRegression()
model1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [276]:
y_pred = model.predict(X_test)

In [277]:
print("MSE: ",mean_squared_error(y_test,y_pred))
print("R2_score:  ",r2_score(y_test, y_pred))

MSE:  4.688859038196219
R2_score:   0.8154777881851604

In [286]:
#Without shuffling
X_train, X_test, y_train, y_test = train_test_split(df1.iloc[:,:3],df1["Sales"], test_size = 0.4, shuffle = False)
model2 = LinearRegression()
model2.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [287]:
y_pred = model.predict(X_test)

In [288]:
print("MSE: ",mean_squared_error(y_test,y_pred))
print("R2_score:  ",r2_score(y_test, y_pred))

MSE:  5.81045242201729
R2_score:   0.7935088769115175